.search-filter {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.input-text,
.input-date {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex-grow: 1;
}

.input-date {
  flex-grow: 0;
}

.filter-button {
  background-color: #F7A600;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
