.header {
  background-color: #D57E00;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 5px;
}

.header-title {
  font-weight: bold;
  font-size: 20px;
}

.header-button {
  background-color: rgb(180 83 9 / var(--tw-bg-opacity, 1));
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.notification {
  position: relative;
  font-size: 24px;
  cursor: pointer;
}
