.app-container {
  font-family: Arial, sans-serif;
  background-color: #FEF5E7;
  min-height: 100vh;
}

.search-container {
  background-color: #FEF5E7;
  min-height: 100vh;
  padding: 20px;
}

.categorias-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}